{% extends "_base.html" %}
{% set active_page = "developers" %}

{% block content %}

<h2>개발자 소개</h2>

<div class="panel">
    하재승 (<a href="https://github.com/ipkn">github.com/ipkn</a>)
    <ul>
        <li><a href="http://bbr.ipknlab.com/">버블러</a> 개발</li>
    </ul>
</div>

<div class="panel">
    Puzzlet Chung (<a href="https://github.com/puzzlet">github.com/puzzlet</a>)
    <ul>
        <li>한글 프로그래밍 언어 <a href="https://aheui.github.io">아희</a> 창시</li>
    </ul>
</div>

{% endblock content %}

{# set filetype=jinjahtml #}
