{% extends "_base.html" %}
{% set active_page = "testimonials" %}

{% block content %}

<h2 id="testimonial">추천사</h2>

<div class="prose">
    <p>전문가들의 호평을 직접 들어보세요.</p>
</div>

<div class="panel">
    <p>제 책도 약속 언어로 바꿔서 개정판 내야겠어요!</p>
    <span>- 구종만 (<a href="http://book.algospot.com/" target="_blank">알고리즘 문제 해결 전략</a> 저자)
</div>

<div class="panel">
    <p><em>약속</em>은 지금까지 만들어진 것 중 최고의 한글 프로그래밍 언어이다.</p>
    <span>- Puzzlet Chung (한글 프로그래밍 언어 '아희' 창시자)</span>
</div>

<div class="panel">
    <p>나의 첫 프로그래밍 언어가 <em>약속</em>이었다면 지금 두 배는 더 나은 프로그래머가 되었을 것이다.</p>
    <span>- sh*****
</div>

<div class="panel">
    <p>당신의 코딩을 바꿔놓을 획기적인 언어의 등장! 중국 기술 유출이 우려된다면 이 언어를 써라!</p>
    <span>- 익명</span>
</div>

{% endblock content %}

{# set filetype=jinjahtml #}
